body{
font-family:Arial;
background:#e3f2fd;
margin:0;
padding:40px;
text-align:center;
}

.container{
display:flex;
justify-content:flex-start;
align-items:flex-start;
gap:60px;

margin-top:40px;
max-width:1000px;
margin-left:auto;
margin-right:auto;
}

input{
padding:10px;
width:300px;
font-size:16px;
}

button{
padding:10px 15px;
font-size:16px;
background:rgb(73, 73, 171);
color:white;
border:none;
cursor:pointer;
}

.weatherBox{
width:500px;
background:white;
padding:20px;
border-radius:10px;
box-shadow:0px 0px 10px gray;
height: 500px;

}

#result{
margin:20px auto;
font-size:20px;
width:100%;

}

.chartBox{
width:500px;
height:500px;
background:white;
padding:20px;
border-radius:10px;
box-shadow:0px 0px 10px gray;

display:flex;
justify-content:center;
align-items:center;
}
canvas{
max-width:100%;
}
h1{
text-align:center;
}

.searchBox{
display:flex;
justify-content:center;
gap:10px;
margin-top:20px;
}
button{
padding:8px 20px;
background:#3f51b5;
color:white;
border:none;
border-radius:5px;
cursor:pointer;
}

button:hover{
background:#2c3aa8;
}